@CHARSET "UTF-8";
body{
	background:white;
}
.nutrition{
	width: 90%;
	padding: 5px;
	align: center;
	line-height: 25px;
	background:rgb(224, 224, 224);
}
.nutrition-text-show{
	hight: 100px;
}
.nutrition-text-hide{
	hight: 100px;
	display:none;
}
.nutrition-more{
	height: 30px;
	text-align:center;
	line-height:30px;
}